<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Blog</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.app_demo.debtors_webapp }}" target="_blank">Create your own currency</a>
      <a class="sidebar-nav-item" href="{{ site.app_demo.creditors_webapp }}" target="_blank">Use other peoples' currencies</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}" target="_blank">GitHub project</a>
      <a class="sidebar-nav-item" href="{{ site.mailing_list.url }}" target="_blank">Mailing list</a>

      {% comment %}
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
      {% endcomment %}
    </nav>

    <p><span class="copyleft">&copy;</span> {{ site.time | date: '%Y' }}. MIT License.</p>
    <p><iframe src="https://github.com/sponsors/swaptacular/button" title="Sponsor swaptacular" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe></p>
  </div>
</div>
